body{
background: #ffffff;
  background:  linear-gradient(to bottom right, #e1e9f7, #9facc4, #5e749b, #344768, #1f3251, #102444);
min-height: 100%;
background-size: cover;
background-repeat: no-repeat;
color: #000000;
font-family: "Copperplate Gothic Light";
}
h1{
    text-align: center;
}
.cell1 {
    text-align: center;
    margin: 0 auto;
}
table {
    margin: 0 auto;
}
.cell2 {
    text-align: center;
    margin: 0 auto;
}