// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
background: #efea9b;
  background:  linear-gradient(to bottom right, #e00b0b, #e07706, #fcfc1b, #19b72e, #182eb7, #6a18b7, #ed178d);
min-height: 100%;
background-size: cover;
background-repeat: no-repeat;
color: #2b2820;
font-family: "Copperplate Gothic Light";
}
h1{
    text-align: center;
}
.cell1 {
    text-align: center;
    margin: 0 auto;
}
table {
    margin: 0 auto;
}
.cell2 {
    text-align: center;
    margin: 0 auto;
}